header{
    background: linear-gradient(to right, rgb(210, 210, 247), rgb(238, 225, 238));
}
body{
    background: linear-gradient(to right, rgb(210, 210, 247), rgb(238, 225, 238));
}
#dashboard{
    width: 100%;
    text-align: left;
    padding-left: 45%;
    margin: 0px;
    border-radius: 5px;
    background: linear-gradient(to right, blue, purple);
    color: white;
}
#forecast{
    margin-top: 25px;
    
}

.hide{
    display: none;
}

.card-body{
    background-color: lightgrey;
    border: solid 1px rgb(95, 95, 163);
    border-radius: 5px;
}

.btn{
    background-color : rgb(131, 130, 143) ;
    color: black;
}

#search-button{
    background-color: skyblue;
    background: linear-gradient(to right, rgb(143, 172, 182), rgb(114, 64, 114));
    font-weight:550;
    font-size: 18px;
    color: black;
}

.current-card{
    background-color: rgba(225, 226, 235, 0.897);
    color: rgb(233, 236, 29);
}

.forecast-card{
    background-color: rgb(131, 130, 143);
    color: black;;
    
}
#last-update{
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 4px;
}
.btn-primary:active, .btn-primary:hover, .btn-primary:focus{
    box-shadow: none !important;
    background-color: rgb(131, 130, 143) !important;
    color: black !important;
}